.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.clock-container {
  margin-bottom: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letters-section {
  text-align: center;
  margin-bottom: 15px;
}

.letters-section p {
  font-size: 40px; 
  display: inline-block;
  padding: 5px; 
  margin: 5px; 
  border: 3px solid #1b5ec2;
  border-radius: 3px;
  background-color: #1b5ec2;
  color: white;
  box-sizing: border-box; 
  width: 50px; 
  text-align: center; 
  font-family: "impact"
}

.rough-work-textbox {
  margin-top: 10px;
}

.gpt-section {
  display: flex;
  align-items: center;
}

.gpt-response {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
}

.gpt-logo {
  margin-top: 10px;
  width: 40px; 
  height: 40px; 
  margin-right: 10px; 
}

.info-button {
  border-radius: 5px;
  background-color: #007bff;
  font-size: 20px;
  padding: 5px; 
  margin: 5px; 
  border: 3px solid #1b5ec2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 10px;
}

.info-popout {
  background-color: #007bff; 
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  position: absolute;
  top: 100px;
  left: 10px;
}
