.game-list {
    display: flex;
  }
  
  .game-card {
    margin-right: 0px;
    transition: transform 0.3s ease;
  }
  
  .game-card:hover {
    transform: scale(1.1);
  }
  
  .game-card img {
    max-width: 98%;
    height: 700px;
    object-fit: cover; /* Maintain aspect ratio */
  }
  